* {
	margin: 0px;
	padding: 0px;
	color: #fff;
}
body {
	min-width: 800px;
	min-height: 1000px;
}
/*.section {
	background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
	background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
	background: linear-gradient(#4BBFC3, #7BAABE);
}*/
/*#section2{
		background: -webkit-gradient(linear, top left, bottom left, from(#969ac6), to(#636F8F));
		background: -webkit-linear-gradient(#969AC6, #636F8F);
		background: linear-gradient(#969AC6,#636F8F);
	}*/

.section {
	background: url(../image/section-bg.png) repeat;
}
/*section 内部包裹层*/

.pagewrap {
	width: 100%;
	height: 100%;
	position: relative;
}
/*左包裹*/

.l_pagewrap {
	width: 30%;
	height: 100%;
	display: inline-block;
	float: left;
	position: relative;
	/*background-color: #0099FF;*/
}
/*右包裹*/

.r_pagewrap {
	width: 70%;
	height: 100%;
	display: inline-block;
	float: right;
	position: relative;
	/*background-color: #DA0A0A;*/
}
/*居中*/

.center {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	display: inline-block;
	margin: auto;
}
/*横向 居中*/

.h_center {
	position: relative;
	margin: 0px auto;
}
/*简介围绕*/

.wrap_intro {
	width: 400px;
}
/*个人简介*/

.intro {
	width: 100%;
	height: 45px;
	font-size: 250%;
	text-align: center;
}
/*左边的介绍*/

.l_intro {
	width: 350px;
	position: absolute;
	top: 10%;
	left: -100%;
	text-align: left;
	opacity: 0;
}
/*右边的介绍*/

.r_intro {
	width: 350px;
	position: absolute;
	bottom: 10%;
	right: -100%;
	text-align: right;
	opacity: 0;
}
/*展示APP 截图*/

.app_box {
	width: 100%;
	height: 640px;
	/*background-color: #D86C01;*/
}
/*装载图片的大小*/

.load_img {
	width: 90px;
	height: 90px;
}
/*app截图图片大小*/

@media only screen and (min-width: 1400px) {
	.app_img {
		width: 360px;
		height: 640px;
		right: -360px;
		position: absolute;
	}
	/*app描述文本大小*/
	
	.app_contain {
		/*background-color: #000000;*/
		
		width: 300px;
		height: 400px;
		left: -160%;
	}
	.app_logo {
		width: 100px;
		height: 100px;
		margin-left: 50px;
		margin-bottom: 30px;
		position: relative;
	}
}
@media only screen and (max-width: 1399px) {
	.app_img {
		width: 270px;
		height: 480px;
		right: -270px;
		position: absolute;
	}
	/*app描述文本大小*/
	
	.app_contain {
		/*background-color: #000000;*/
		width: 240px;
		height: 100%;
		left: -80%;
	}
	.app_logo {
		width: 100px;
		height: 100px;
		margin-left: 50px;
		margin-bottom: 30px;
		position: relative;
	}
}
/*#boxID1 {
	width: 560px;
	height: 300px;
	background-color: #444444;
}
#boxID2 {
	width: 560px;
	height: 300px;
	background-color: #444444;
}*/
/*导航栏*/

.nav-bar {
	width: 100%;
	height: 60px;
	/*background-color: #0099FF;*/
	
	position: relative;
	z-index: 900;
}
.nav-bar a {
	text-decoration: none;
	/*font-size: 110%;*/
	/*height: 60px;*/
	
	background-color: none;
	border-radius: 20px;
	/*display: inline-block;*/
	/*background-color: #000000;*/
	
	text-align: center;
	line-height: 60px;
	padding: 10px;
	height: 60px;
	width: 100px;
}
.nav-bar li {
	/*background-color: #E54B3B;*/
	
	display: inline-block;
	/*box-sizing: border-box;*/
	
	height: 60px;
	padding-left: 20px;
	padding-right: 20px;
	/*margin: 0px;*/
	/*padding: 0px;*/
}
.nav-bar ul {
	text-align: center;
	position: relative;
	display: block;
}
.nav-index-bar {
	width: 60px;
	height: 4px;
	background-color: #FFFFFF;
	/*background-position: bottom;*/
	/*padding-top: 40px;*/
	
	display: inline-block;
	z-index: 10;
	border-radius: 20px;
	position: absolute;
	top: 55px;
}
/*对话框*/

#id-dialog {
	width: 100%;
	height: 100%;
	background-color: rgba(1, 1, 1, 0.2);
	z-index: 999;
	/*background-color: #000000;*/
	
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	visibility: hidden;
}
#dialog-wrap {
	width: 400px;
	height: 400px;
	background-color: rgba(0, 150, 250, 0.8);
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, .2);
	margin-top: -30%;
}
#dialog-title {
	text-align: center;
	margin: 10px;
}
#dialog-button {
	width: 100%;
	height: 60px;
	/*background-color: #000000;*/
	
	position: absolute;
	bottom: 0px;
	font-size: 110%;
}
#button-ok {
	position: absolute;
	right: 30px;
	border-radius: 10px;
	text-decoration: none;
	width: 60px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}